HEIGO_PORT_BIND=127.0.0.1:8080:8080
SESSION_COOKIE_SECURE=auto

HEIGO_BOOTSTRAP_ADMINS=
INTERNAL_SHARE_TOKEN=change-this-to-a-long-random-string

BOT_REPLY_MODE=onebot
ONEBOT_API_ROOT=http://napcat:3000
ONEBOT_ACCESS_TOKEN=change-this-onebot-access-token
ONEBOT_SECRET=change-this-onebot-secret
ONEBOT_SELF_ID=

QQ_BOT_ALLOWED_GROUPS=
QQ_BOT_ALLOW_ALL_GROUPS=false

BOT_USER_COOLDOWN_SECONDS=5
BOT_GROUP_LIMIT_PER_MINUTE=20
BOT_RENDER_TIMEOUT_SECONDS=20
BOT_RENDER_CACHE_TTL_SECONDS=1800
BOT_OUTPUT_ROOT=output/qqbot

NAPCAT_WEBUI_BIND=127.0.0.1:6099:6099
